// COLOR BG
$headBG: #0e1143;
$hrefBG: #00a1eb;


// TEXT
$globalFont: 'Montserrat', sans-serif;
$parFont: 'Hind', sans-serif;
$globalSize: 14px;
$globalHeight: 14px;

// COLOR TEXT

$colorW: #fff;
$colorB: #00a1eb;
$colorG: #737373;

// TRANSITION

$transA: all 0.1s;
